body {
	background: url(../img/header.jpg) no-repeat;
	background-size: 1600px 600px;
}
#left {
	margin-top:600px;
	width:50%;
	height:800px;
	background-color:red;
}
#right {
	width:49.5%;
	height:96.4%;
	position:absolute;
	left:50%;
	top:600px;
	background-color:green;
}
#footer{
background:darkred;
width:100%;
height:50px;
}